    <!-- <main class="container"> -->
        <form action="">
            <select class="form-select" name="quantity" id="quantity" onchange="requestSubmit()">
                {{$c := .Count}}
                {{range $q := .Quantities}}
                <option
                    value="{{$q}}"
                    {{if eq $q $c}} selected {{end}}>
                    {{$q}}
                </option>
                {{end}}
            </select>
        </form>
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a href="" class="page-link">Назад</a></li>
                {{$cp := .CurrentPage}}
                {{range $p := .PageRange}}
                <li class="page-item
                    {{if eq $p $cp}}
                    active
                    {{end}}
                    ">
                    <a href="/?page={{$p}}&quantity={{$c}}" class="page-link">{{$p}}</a>
                </li>
                {{end}}
                <li class="page-item"><a href="" class="page-link">Вперед</a></li>

            </ul>
        </nav>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Дата записи</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Дата рождения</th>
                    <th scope="col">Страховой полис</th>
                </tr>
            </thead>
            <tbody>
                {{range $e := .Entries}}
                    <tr>
                        <td>{{$e.ID}}</td>
                        <td>{{$e.DateTime.Format $e.DTFormat}}</td>
                        {{$pd := $e.PersonData}}
                        <td>{{$pd.LastName}}</td>
                        <td>{{$pd.FirstName}}</td>
                        <td>{{$pd.MiddleName}}</td>
                        <td>{{$pd.Birthdate.Format $pd.BDFormat}}</td>
                        <td>{{$pd.InsuranceID}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                {{range $p := .PageRange}}
                <li class="page-item"><a href="/?p={{$p}}" class="page-link">{{$p}}</a></li>
                {{end}}
            </ul>
        </nav>

    <!-- </main> -->
